.anwp-h-100 {
    height: 100px !important;
}

.wp-block-anwp-fl-competition-header {
    margin: 0;
}

.wp-block-anwp-fl-competition-header {
    margin: 0;
}

.anwp-object-contain {
    object-fit: contain;
}

.editor-styles-wrapper img.anwp-h-20 {
    height: 20px;
}

.editor-styles-wrapper img.anwp-h-25 {
    height: 25px;
}

.editor-styles-wrapper img.anwp-h-30 {
    height: 30px;
}

.editor-styles-wrapper img.anwp-h-40 {
    height: 40px;
}

.editor-styles-wrapper img.anwp-h-45 {
    height: 45px;
}

.editor-styles-wrapper img.anwp-w-45 {
    width: 45px;
}
